# IDE stuff
**/.idea
**/__pycache__
**/.ipynb_checkpoints
**/*.log
**/.vscode
**/.vs
**/.conda
/.temp/*
**/.env/
**/.venv/
**/env/
**/venv/
**/.git
**/.ruff_cache
example_usage/
**/*egg-info
**/*.egg
**/dist
**/build

# single files
Makefile
gnurff*.*
tmp.txt
Dockerfile*
.git
.gitignore
.dockerignore
.aws
.env
.spec
.sh
result.tmp
*.csv
*.bkp
*.png
*.emf
*.gif
*.svg
*.jpg
*.jpeg
*.bmp

# Dependency files 
uv.lock

# Docker compose 
docker-compose.yml

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Other mac files
Icon
._*
.Spotlight-V100
.Trashes
.com.apple.timemachine.donotpresent