**/.idea
**/__pycache__
**/.ipynb_checkpoints
**/*.log
**/.vscode
**/.vs
**/.conda
/.temp/*
**/.env
**/.venv
**/env/
**/venv/
**/.git
**/lightning_logs

Makefile
win_make.bat
README.md
gnurff*.*
tmp.txt
Dockerfile*
*.yaml
*.yml
.git
.gitignore
.dockerignore
.aws
.env
.spec
.sh
result.tmp
*.csv
*.bkp
*.png
*.emf
*.gif
*.svg
*.jpg
*.jpeg
*.bmp
*.DS_Store

**/*egg-info
**/*.egg
**/dist
**/build