# IDE and environment directories
**/.idea
**/__pycache__
**/.ipynb_checkpoints
**/image*.svg
**/*.log
**/.vscode
**/.vs
**/.conda
**/.env
**/.venv
**/env
**/venv
/.temp


# installer files
**/*egg-info
**/*.egg
**/dist
**/build

# Log files
**/*.log

# Backup files
*.bkp

# Data files
*.csv

# Temporary files
tmp.txt
tmp.csv
tmp.tmp
temp.tmp
result.tmp
status.txt
gnurff*.py 
gnurff*.txt

# Image files
*.png
*.emf
*.gif
*.svg
*.jpg
*.jpeg
*.bmp
# keep these two for demo purposes
!not_structure.gif
!structure.png

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Other mac files
Icon
._*
.Spotlight-V100
.Trashes
.com.apple.timemachine.donotpresent